@tailwind base;
@tailwind components;
@tailwind utilities;

nav > header {
  background: #4267b2;
  border-radius: 0px 0px 10px 10px;
}

nav > header > ul > li > a {
  color: #fff !important;
}

.btn-register {
  background: #fff;
  color: #4267b2 !important;
  font-weight: 500;
}

.bg-blue {
  background: #4267b2;
}
